

.parent{
    display: flex;
    flex-direction: row;
    align-items:center; 
    height:1000px;
    justify-content:center;
    
}

.child{
    width:200px;
    height:200px;
    background-color:black;
    margin:1px;
    
}
