
.root {
  @apply relative max-h-full;

  &:hover {
    & .productBg:before {
      transform: scale(0.98);
    }

    & .productImage {
      transform: scale(1.15);
    }
  }

    
    &:nth-child(6n + 1) .productBg {
      @apply bg-violet;
    }
  
    &:nth-child(6n + 3) .productBg {
      @apply bg-red;
    }
  
    &:nth-child(6n + 5) .productBg {
      @apply bg-blue;
    }
  
    &:nth-child(6n + 6) .productBg {
      @apply bg-cyan;
    }
  }

  .productImage{
    @apply transition-transform block duration-300;
  }
  
  .productBg {
    @apply  absolute inset-0 z-0;
    background-color: #212526;

    &:before{
      @apply transition-transform duration-300 block w-full h-full bg-repeat-space;
      content: "";
      background-image: url("/product-pattern-bg.svg");
      
    }
  }
  
  .productTag {
    @apply absolute top-0 left-0 z-20;
    & > * {
      font-size: 2rem;
      letter-spacing: 0.4px;
    }
  }
  .productTitle {
    @apply font-extralight;
    line-height: 1.2em;
    & span {
      @apply py-4 px-6 bg-primary;
      box-decoration-break: clone;
    }
  }
  .productPrice {
    @apply pb-4 pt-2 px-6 font-extralight text-sm bg-primary;
    letter-spacing: 0.4px;
  }