
.quantity {
    appearance: textfield;
    @apply w-8 border-accents-3 border mx-3 rounded-3xl text-center text-sm font-medium text-slate-800 bg-transparent transition;

    &:hover{
        @apply scale-110 border-s-zinc-600 border-e-zinc-600 border-t-zinc-600 border-r-zinc-600 border-zinc-600 duration-100 ;
    }
  }
  
  .quantity::-webkit-outer-spin-button,
  .quantity::-webkit-inner-spin-button {
    @apply appearance-none m-0;
  }
  
  .productImage {
    
    position: absolute;
    transform: scale(1.5);
    width: 3.9rem;
    height: 3.9rem;
    left: 3% !important;
    top: 3% !important;
    
}