
.root {
    @apply grid gap-0 grid-cols-1;
  
        @apply lg:grid-cols-3 lg:grid-rows-2;
    
  
    & > * {
      @apply row-span-1 overflow-hidden;
      max-height: 800px;
      @screen lg {
        height: inherit;
      }
    }
  }

.layoutA {
    color: red;
}
.layoutB {
    color: blue;
}